
/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/

@mixin transition($t){
    -webkit-transition: all $t ease-in-out;
    -moz-transition: all $t ease-in-out;
    -ms-transition: all $t ease-in-out;
    -o-transition: all $t ease-in-out;
    transition: all $t ease-in-out;
}

@function tint($color, $percentage) {
  @return mix($color, white, $percentage);
}

@function shade($color, $percentage) {
  @return mix($color, black, $percentage);
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin admin-sticky-fix( $offset: 0 ) {
  $narrow-offset: 46px;
  $wide-offset: 32px;
  @if $offset != 0 and type-of($offset) == 'number' {
    $narrow-offset: $narrow-offset + $offset;
    $wide-offset: $wide-offset + $offset;
  }
  .admin-bar & {
    top: $narrow-offset;
    @media screen and (min-width: 783px) {
      top: $wide-offset;
    }
  }
}

$breakpoints: (
  'phone-u':   ( min-width:  576px ),
  'tablet-u':  ( min-width:  768px ),
  'desktop-u': ( min-width:  992px ),
  'full-u':  ( min-width: 1200px ),
  'phone-d':   ( max-width: 575.98px ),
  'tablet-d':  ( max-width: 767.98px ),
  'desktop-d': ( max-width: 991.98px ),
  'full-d':  ( max-width: 1199.98px ),
);

@mixin breakpoint($name) {
      @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  @else {
    @warn "Couldn't find a breakpoint named `#{$name}`.";
  }
}